*.code-workspace
*.pyc
allpdb-segments.txt
lib-trinuc-*.txt
lib-trinuc-*.npy
lib-trinuc-*.clust
lib-trinuc-*.json
lib-dinuc-*.txt
lib-dinuc-*.npy
lib-dinuc-*.clust
lib-dinuc-*.json
build-library-dinuc-*.txt
build-library-trinuc-*.txt
library-fit-dinuc-*.txt
library-fit-dinuc-*.png
library-fit-trinuc-*.txt
library-fit-trinuc-*.png
library/*
filter-*.out
seamless-config.sh
test/result
config/
intermediate/
*.FUTURE